# storagenode
/storagenode/ @aleitner

# audits
/pkg/audit/ @navillasa

# node identity
/pkg/certificates/ @bryanchriswhite
/pkg/identity/ @bryanchriswhite
/pkg/peertls/ @bryanchriswhite
/pkg/transport/ @bryanchriswhite

# repair
/pkg/datarepair/ @jenlij

# kademlia
/pkg/kademlia/ @jenlij
