/cmd/multinode/ @profclems
/cmd/storagenode/ @profclems
/cmd/storagenode-updater/ @profclems
/cmd/uplink/ @kaloyan-raev

/multinode/ @profclems

/satellite/analytics/ @mobyvb @wilfred-asomanii
/satellite/console/ @mobyvb @cam-a
/satellite/gracefulexit/ @mniewrzal @Fadila82 @Qweder93 @Erikvv
/satellite/metabase/ @mniewrzal @Fadila82 @Qweder93 @Erikvv
/satellite/metainfo/ @mniewrzal @Fadila82 @Qweder93 @Erikvv
/satellite/payments/stripecoinpayments/ @mobyvb
/satellite/repair/ @mniewrzal @Fadila82 @Qweder93 @Erikvv

/storagenode/ @profclems

/web/multinode/ @profclems
/web/satellite/ @wilfred-asomanii @jewharton
/web/storagenode/ @profclems
