[access]
	inheritFrom = All-Projects
[project]
	description = Ongoing Storj v3 development. Decentralized cloud object storage that is affordable, easy to use, private, and secure.
[access "refs/*"]
	owner = group Storj Labs
	owner = group user/JT Olio (jtolds)
[access "refs/for/refs/*"]
	read = group Storj Labs
	read = group user/JT Olio (jtolds)
	push = group Storj Labs
	push = group user/JT Olio (jtolds)
	label-Code-Review = -2..+2 group Storj Labs
	label-Code-Review = -2..+2 group user/JT Olio (jtolds)
	label-Verified = -1..+1 group Storj Labs
	label-Verified = -1..+1 group user/JT Olio (jtolds)
	rebase = group Storj Labs
	rebase = group user/JT Olio (jtolds)
	removeReviewer = group Storj Labs
	removeReviewer = group user/JT Olio (jtolds)
	submit = group Storj Labs
	submit = group user/JT Olio (jtolds)
[access "refs/heads/*"]
	read = group Storj Labs
	read = group user/JT Olio (jtolds)
	create = group user/JT Olio (jtolds)
	push = +force group user/JT Olio (jtolds)
	pushMerge = group user/JT Olio (jtolds)
[access "refs/tags/*"]
	push = +force group Storj Labs
	push = group user/JT Olio (jtolds)
	push = +force group user/JT Olio (jtolds)
[receive]
	requireChangeId = true
	rejectImplicitMerges = true
	requireContributorAgreement = false
	requireSignedOffBy = false
	createNewChangeForAllNotInTarget = true
[reviewer]
	enableByEmail = true
[submit]
	action = cherry pick
	mergeContent = false
	matchAuthorToCommitterDate = false
[change]
	privateByDefault = false
	workInProgressByDefault = true
