templates:
  SIGNER_ZERO: 1111111111111111111111111111111VyS547o
  NORMAL: exclude(tag("$SIGNER_ZERO","soc2","true")) && exclude(tag("$SIGNER_ZERO","datacenter","true"))
placements:
  - id: 0
    name: global
    filter: $NORMAL
    invariant: maxcontrol("tag:owner",2)
    selector: unvetted(0.0,random())
  - id: 1
    name: eu-1
    filter: country("EU") && $NORMAL
    invariant: maxcontrol("last_net",1)
    selector: attribute("last_net")
  - id: 2
    name: choiceoftwo
    selector: choiceoftwo(tracker, random())
  - id: 3
    name: ifeqselector
    selector: attribute(if(eq("tag:surge","true"),"last_ip_port","last_net"))
  - id: 4
    name: subnet
    selector: attribute(subnet(25))
  - id: 5
    name: dual
    selector: dual(0.2,random(), filter(tag("12EayRS2V1kEsWESU9QMRseFhdxYxKicsiFmxrsLZHeLUtdps3S","test","true"),random()))
  - id: 6
    name: sa
    filter: continent("SA") && $NORMAL
