{{- define "signature" -}}
Has_{{ .Suffix }}({{ ctxparam .Args }}) (
	has bool, err error)
{{- end -}}

{{- define "invoke" -}}
Has_{{ .Suffix }}({{ ctxarg .Args }})
{{- end -}}

{{- define "body" }}{{/* gotype: storj.io/dbx/code/golang.Get */}}
	{{ embedplaceholders .Info }}
	{{ embedsql .Info "__embed_stmt" }}

	var __values []any
	{{ embedvalues .Args "__values" }}

	var __stmt = __sqlbundle_Render(obj.dialect, __embed_stmt)
	obj.logStmt(__stmt, __values...)

	err = obj.queryRowContext(ctx, __stmt, __values...).Scan(&has)
	if err != nil {
		return false, obj.makeErr(err)
	}
	return has, nil
{{ end -}}
