{{- define "signature" -}}
getLast{{ .Return.Type }}(ctx context.Context,
	pk int64) (
	{{ param .Return }}, err error)
{{- end -}}

{{- define "body" }}{{/* gotype: storj.io/dbx/code/golang.getLast */}}
	{{ embedplaceholders .Info }}
	{{ embedsql .Info "__embed_stmt" }}

	var __stmt = __sqlbundle_Render(obj.dialect, __embed_stmt)
	obj.logStmt(__stmt, pk)

	{{ init .Return }}
	err = obj.queryRowContext(ctx, __stmt, pk).Scan({{ addrof (flatten .Return) }})
	if err != nil {
		return {{ zero .Return }}, obj.makeErr(err)
	}
	return {{ arg .Return }}, nil
{{ end -}}
