{{- define "signature" -}}
Get_{{ .Suffix }}({{ ctxparam .Args }}) (
	{{ param .Row }}, err error)
{{- end -}}

{{- define "invoke" -}}
Get_{{ .Suffix }}({{ ctxarg .Args }})
{{- end -}}

{{- define "body" }}{{/* gotype: storj.io/dbx/code/golang.Get */}}
	{{ embedplaceholders .Info }}
	{{ embedsql .Info "__embed_stmt" }}

	var __values []any
	{{ embedvalues .Args "__values" }}

	var __stmt = __sqlbundle_Render(obj.dialect, __embed_stmt)
	obj.logStmt(__stmt, __values...)

	{{ init .Row }}
	err = obj.queryRowContext(ctx, __stmt, __values...).Scan({{ addrof (flatten .Row) }})
	if err != nil {
		return {{ zero .Row }}, obj.makeErr(err)
	}
	return {{ arg .Row }}, nil
{{ end -}}
