{{- define "decl" }}{{/* gotype: storj.io/dbx/code/golang.funcDecl */}}
func (obj *{{ .ReceiverBase }}Impl) {{ .Signature }} {
	defer mon.Task()(&ctx)(&err)
	if !obj.txn && txutil.IsInsideTx(ctx) {
		panic("using DB when inside of a transaction")
	}
{{ .Body }}
}
{{ end -}}
