[Unit]
Description  = Version Control service
After        = syslog.target

[Service]
User         = storj
Group        = storj
ExecStart    = /usr/local/bin/versioncontrol run -config-dir /etc/storj/versioncontrol/
Restart      = always
Type         = simple
NotifyAccess = main

[Install]
WantedBy     = multi-user.target
