<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <Dialog Id="EmailConfigDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="DoAction" Value="CA.ValidateWallet">1</Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Enter your e-mail address." />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Operator Information" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <Control Id="EmailLabel" Type="Text" X="20" Y="60" Width="320" Height="16" NoPrefix="yes" Text="E-mail address:" />
        <Control Id="Email" Type="Edit" Property="STORJ_EMAIL" X="20" Y="100" Width="320" Height="18" />
        <Control Id="EmailDesc" Type="Text" X="20" Y="150" Width="320" Height="48" NoPrefix="yes" Text="We will notify you on this email address when a new version has been released." />
      </Dialog>
    </UI> 
	</Fragment>
</Wix>
