<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
  <Product Id="*" Name="Storj V3 Storage Node 0.19.0" Language="1033" Version="0.19.0.0" Manufacturer="Storj Labs Inc." UpgradeCode="B32CF5FC-0665-4712-B88A-22D299565F9E">
    <Package Platform="x64" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of
Storj V3 Storage Node is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="Storage Node" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="StorjFolder" Name="Storj">
          <Directory Id="INSTALLFOLDER" Name="Storage Node" />
        </Directory>
      </Directory>
      <Directory Id="IDENTITYDIR" />
    </Directory>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="storageNodeExe" Guid="{7292F032-A37F-4896-8CF7-EF0603251DEA}" Win64='yes'>
        <File Source="storagenode.exe" />
        <fire:FirewallException Id="StoragenodePort" Name="storagenode.exe" Port="28967" Scope="any"/>
      </Component>
    </ComponentGroup>
    <Property Id="WIXUI_INSTALLDIR">INSTALLFOLDER</Property>
    <Property Id="STORJ_IDENTITYDIR">IDENTITYDIR</Property>
    <UIRef Id="CustomInstallDir" />
    <Icon Id="storj.ico" SourceFile="storj.ico"/>
    <Property Id="ARPPRODUCTICON" Value="storj.ico" />
    <WixVariable Id="WixUILicenseRtf" Value="agpl-3.0.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
    <Binary Id="StorjDLL" SourceFile="$(var.Storj.TargetDir)Storj.CA.dll" />

    <CustomAction Id='StoragenodeSetup' Directory='INSTALLFOLDER' Execute='commit' Impersonate='no' 
                  ExeCommand="&quot;[INSTALLFOLDER]storagenode.exe&quot; setup --config-dir &quot;[INSTALLFOLDER]\&quot; --identity-dir &quot;[IDENTITYDIR]\&quot; --kademlia.operator.email &quot;[STORJ_EMAIL]&quot; --kademlia.operator.wallet &quot;[STORJ_WALLET]&quot;"
    />
    <InstallExecuteSequence>
      <Custom Action='StoragenodeSetup' Before='InstallFinalize'/>
    </InstallExecuteSequence>
  </Product>
</Wix>