<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <Dialog Id="PublicAddressConfigDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Enter the external address for the storage node." />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Connection Information" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <Control Id="PublicAddressLabel" Type="Text" X="20" Y="60" Width="320" Height="16" NoPrefix="yes" Text="External address (&lt;ip&gt;:&lt;port&gt;):" />
        <Control Id="PublicAddress" Type="Edit" Property="STORJ_PUBLIC_ADDRESS" X="20" Y="100" Width="320" Height="18" />
        <Control Id="PublicAddressDesc" Type="Text" X="20" Y="150" Width="320" Height="32" NoPrefix="yes" Text="The storage node will listen for requests on port 28967. You must configure your router to make this port available for public access. When ready, enter the external IP address or the DDNS you configured and the port you opened on your router." />
        <Control Id="PublicAddressHowto" Type="Hyperlink" X="20" Y="190" Width="320" Height="16">
          <Text><![CDATA[<a href="https://docs.storj.io/node/dependencies/port-forwarding">Learn how to setup Port Forwarding.</a>]]></Text>
        </Control>
      </Dialog>
    </UI>
	</Fragment>
</Wix>
