<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->



<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <UI>
            <Dialog Id="StorjWelcomeDlg" Width="370" Height="270" Title="[ProductName] Setup">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
                    <Publish Property="WixUI_InstallMode" Value="Update" Condition="Installed AND PATCH" />
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg" />
                </Control>
                <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="WixUI_Bmp_Dialog" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="&amp;Back" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

                <Control Id="Description" Type="Text" X="135" Y="70" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="The Setup Wizard will install the Storj V3 Storage Node on your computer." ShowCondition="NOT Installed OR NOT PATCH" HideCondition="Installed AND PATCH" />
                <Control Id="RequirementsIntro" Type="Text" X="135" Y="105" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="Before you begin, make sure you meet the following requirements:" ShowCondition="NOT Installed OR NOT PATCH" HideCondition="Installed AND PATCH" />
                <Control Id="AuthToken" Type="Text" X="135" Y="130" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="- You've received an authorization token from Storj Labs" ShowCondition="NOT Installed OR NOT PATCH" HideCondition="Installed AND PATCH" />
                <Control Id="Identity" Type="Text" X="135" Y="142" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="- You've generated a new identity for your storage node" ShowCondition="NOT Installed OR NOT PATCH" HideCondition="Installed AND PATCH" />
                <Control Id="Wallet" Type="Text" X="135" Y="154" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="- You have an ERC20 compatible wallet to receive payouts" ShowCondition="NOT Installed OR NOT PATCH" HideCondition="Installed AND PATCH" />
                <Control Id="PortForwarding" Type="Text" X="135" Y="166" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="- You've configured port forwarding for your storage node" ShowCondition="NOT Installed OR NOT PATCH" HideCondition="Installed AND PATCH" />
                <Control Id="LearnMoreLink" Type="Hyperlink" X="135" Y="181" Width="320" Height="16" ShowCondition="NOT Installed OR NOT PATCH" HideCondition="Installed AND PATCH">
                    <Text>&lt;a href=&quot;https://docs.storj.io/node/setup/gui-windows&quot;&gt;Learn more&lt;/a&gt;</Text>
                    
                    
                </Control>
                <Control Id="ClickNextInstruction" Type="Text" X="135" Y="208" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="Click Next to continue or Cancel to exit the Setup Wizard." ShowCondition="NOT Installed OR NOT PATCH" HideCondition="Installed AND PATCH" />
                <!-- Patch text -->
                <Control Id="PatchDescription" Type="Text" X="135" Y="80" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="The Setup Wizard will update [ProductName] on your computer. Click Next to continue or Cancel to exit the Setup Wizard." ShowCondition="(Installed AND PATCH) AND NOT WIX_UPGRADE_DETECTED" HideCondition="(NOT Installed OR NOT PATCH) OR WIX_UPGRADE_DETECTED" />
                <Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Bigger}Welcome to the [ProductName] Setup Wizard" />
            </Dialog>

            <InstallUISequence>
                <Show Dialog="StorjWelcomeDlg" Sequence="1297" Overridable="yes" Condition="(NOT Installed OR PATCH) AND NOT WIX_UPGRADE_DETECTED" />
            </InstallUISequence>
        </UI>
    </Fragment>
</Wix>
