{{ template "head" . }}
<title>Are you trying to sign in?</title>
{{ template "body-start" "standard" }}
{{ template "preheader" "An account already exists for this email. Sign in or reset your password." }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" "Are you trying to sign in?" }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-bottom:10px">
    <p style="{{ template "style-copy" }}">
      There was an attempt to create an account with this email address on the {{ .Data.SatelliteName }} {{ .BrandName }} satellite, but an account was previously created with this email. If this was you, try signing in to the existing account instead.
    </p>
  </td>
</tr>
{{ template "button-row" (dict "Text" "Sign In" "URL" .Data.SignInLink "PrimaryColor" .PrimaryColor) }}
{{ template "content-end" }}
{{ template "footer-start" }}
<tr>
  <td align="center" style="Margin:0;padding-bottom:10px;padding-right:40px;padding-left:40px;padding-top:10px">
    <p style="{{ template "style-note" }}">
      If this wasn't you, we recommend <a target="_blank" rel="noopener noreferrer" href="{{ .Data.ResetPasswordLink }}" style="{{ template "style-note-link" }}">resetting your password</a>.
    </p>
  </td>
</tr>
{{ template "footer" . }}
