{{ template "head" . }}
<title>Your account delete request has been accepted</title>
{{ template "body-start" "standard" }}
{{ template "preheader" "Your account has been permanently deleted." }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" "Your account has been deleted" }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-bottom:10px;padding-top:10px">
    <p style="{{ template "style-copy" }}">
      Thank you for using {{ .BrandName }}. If you wish to use our services again, you'll need to create a new account.
    </p>
  </td>
</tr>
{{ template "content-end" }}
{{ template "footer-start" }}
{{ template "footer" . }}
