{{ template "head" . }}
<title>Your account was locked</title>
{{ template "body-start" "standard" }}
{{ template "preheader" "Your account has been locked due to too many failed activation attempts." }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" "Your account was locked" }}
<tr>
  <td align="left" class="email-copy" style="padding:0;Margin:0;padding-bottom:10px;padding-top:10px">
    <p class="mobile-text-16" style="{{ template "style-copy" }}">
      Your account was locked due to too many failed activation attempts.<br><br>You should have received an email with a 6 digit activation code. Use this to activate your account.<br><br>If this was you, try again in {{ .Data.LockoutDuration }}, or <a target="_blank" href="{{ .SupportURL }}" rel="noopener noreferrer" style="{{ template "style-link" }}">contact support</a> if you need assistance.<br><br>If this activity doesn't look familiar, please activate your account right away and consider enabling multi-factor authentication in account settings after accessing your account.
    </p>
  </td>
</tr>
{{ template "content-end" }}
{{ template "footer-start" "standard" }}
{{ template "footer" . }}
