{{ template "head" . }}
<title>{{ .BrandName }} - Your new payment method has been added</title>
{{ template "body-start" "fixed-text-size" }}
{{ template "preheader" "A new credit card has been successfully added to your account." }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" "New Credit Card Added" }}
{{ template "divider" }}
<tr>
  <td align="left" style="padding:0;Margin:0">
    <p style="{{ template "style-copy" }}">
      <strong>You’ve successfully added a new credit card to your account.</strong><br>
    </p>
  </td>
</tr>
{{ template "divider" }}
<tr>
  <td align="left" style="padding:0;Margin:0">
    <p style="{{ template "style-copy" }}">
      <strong>Security</strong>
    </p>
    <p style="{{ template "style-copy" }}">
      If you didn’t add this card or believe this was a mistake, please <a href="{{ .SupportURL }}" target="_blank" style="{{ template "style-link" }}">contact support</a> immediately.
    </p>
  </td>
</tr>
{{ template "divider" }}
{{ template "button-row" (dict "Text" (printf "Access Your %s Account" .BrandName) "URL" .Data.LoginURL "PrimaryColor" .PrimaryColor) }}
{{ template "divider" }}
{{ template "content-end" }}
{{ template "footer-start" }}
{{ template "footer" . }}
