{{ template "head" . }}
<title>{{ .BrandName }} - Email Change Successful</title>
{{ template "body-start" "standard" }}
{{ template "preheader" "Your email address has been updated successfully." }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" "Email Change Success" }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-bottom:10px;padding-top:10px">
    <p style="{{ template "style-copy" }}">
      Your account email has been successfully changed.
    </p>
  </td>
</tr>
{{ template "content-end" }}
{{ template "footer-start" }}
{{ template "footer" . }}
