{{ template "head" . }}
<title>Reset your {{ .BrandName }} password</title>
{{ template "body-start" "standard" }}
{{ template "preheader" "Use the link inside to reset your password. This link expires shortly." }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" "You have requested to reset your password" }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-bottom:10px">
    <p style="{{ template "style-copy" }}">
      We received a request to reset your {{ .BrandName }} account password. To reset your password, click the following link and follow the instructions. Do not share this link with anyone.
    </p>
  </td>
</tr>
{{ template "button-row" (dict "Text" "Reset Password" "URL" .Data.ResetLink "PrimaryColor" .PrimaryColor) }}
{{ template "content-end" }}
{{ template "footer-start" }}
{{ template "footer" . }}
