{{ template "head" . }}
<title>Your account may be suspended due to inactivity</title>
{{ template "body-start" "standard" }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" "Inactivity Warning" }}
<tr>
  <td align="left" class="email-copy" style="padding:0;Margin:0;padding-bottom:10px;padding-top:10px">
    <p class="mobile-text-16" style="{{ template "style-copy" }}">
      Your {{ .BrandName }} account has not had any billable usage for several consecutive billing cycles. Unless you start using {{ .BrandName }}, your account will be suspended in {{ .Data.GracePeriodDays }} days.
    </p>
    <p class="mobile-text-16" style="{{ template "style-copy" }}">
      <br>Please <a target="_blank" href="{{ .Data.SignInLink }}" rel="noopener noreferrer" style="{{ template "style-link" }}">sign in</a> and start using {{ .BrandName }} to avoid suspension. If you have questions, please file a <a target="_blank" href="{{ .Data.SupportLink }}" rel="noopener noreferrer" style="{{ template "style-link" }}">support ticket</a>.
    </p>
  </td>
</tr>
{{ template "button-row" (dict "Text" "Sign In" "URL" .Data.SignInLink "PrimaryColor" .PrimaryColor) }}
{{ template "content-end" }}
{{ template "footer-start" "compact" }}
{{ template "footer" . }}
