{{ template "head" . }}
<title>Your account has been suspended</title>
{{ template "body-start" "standard" }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" "Account Suspended Due to Inactivity" }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-bottom:10px;padding-top:10px">
    <p style="{{ template "style-copy" }}">
      Your {{ .BrandName }} account has been suspended due to inactivity. All uploads, downloads, and project access are currently disabled.
    </p>
    <p style="{{ template "style-copy" }}">
      <br>To restore your account, please <a target="_blank" href="{{ .Data.SupportLink }}" rel="noopener noreferrer" style="{{ template "style-link" }}">contact support</a>.
    </p>
  </td>
</tr>
{{ template "button-row" (dict "Text" "Contact Support" "URL" .Data.SupportLink "PrimaryColor" .PrimaryColor) }}
{{ template "content-end" }}
{{ template "footer-start" }}
{{ template "footer" . }}
