{{ template "head" . }}
<title>Two-Factor Authentication Successfully Enabled</title>
{{ template "body-start" "fixed-text-size" }}
{{ template "preheader" "Two-factor authentication is now enabled on your account." }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" "Two-Factor Authentication Successfully Enabled" }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-bottom:10px">
    <p style="{{ template "style-copy" }}">
      Your Two-Factor Authentication (2FA) has been successfully enabled on your {{ .BrandName }} account. Your account is now protected with an additional layer of security.<br><br>Remember to keep your backup codes in a safe place. You'll need them if you ever lose access to your authentication device.
    </p>
  </td>
</tr>
{{ template "content-end" }}
{{ template "footer-start" }}
<tr>
  <td align="center" style="Margin:0;padding-bottom:10px;padding-right:40px;padding-left:40px;padding-top:10px">
    <p style="{{ template "style-note" }}">
      If you didn't make this change, please contact the <a href="{{ .SupportURL }}" target="_blank" rel="noopener noreferrer" style="{{ template "style-note-link" }}">customer service department</a>.
    </p>
  </td>
</tr>
{{ template "footer" . }}
