{{ template "head" . }}
<title>Two-Factor Authentication Has Been Disabled</title>
{{ template "body-start" "fixed-text-size" }}
{{ template "preheader" "Two-factor authentication has been disabled on your account." }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" "Two-Factor Authentication Has Been Disabled" }}
<tr>
  <td align="left" class="email-copy" style="padding:0;Margin:0;padding-bottom:10px">
    <p class="mobile-text-16" style="{{ template "style-copy" }}">
      Two-Factor Authentication (2FA) has been disabled on your {{ .BrandName }} account. Your account security has returned to password-only authentication.&nbsp;
    </p>
    <p class="mobile-text-16" style="{{ template "style-copy" }}">
      <br>
    </p>
    <p class="mobile-text-16" style="{{ template "style-copy" }}">
      To re-enable 2FA and enhance your account security, visit your Account Settings at any time.
    </p>
  </td>
</tr>
{{ template "content-end" }}
{{ template "footer-start" "small-links" }}
<tr>
  <td align="center" style="Margin:0;padding-bottom:10px;padding-right:40px;padding-left:40px;padding-top:10px">
    <p style="{{ template "style-note" }}">
      If you didn't make this change, please contact the <a href="{{ .SupportURL }}" target="_blank" rel="noopener noreferrer" style="{{ template "style-note-link" }}">customer service department</a>.
    </p>
  </td>
</tr>
{{ template "footer" . }}
