{{ template "head" . }}
<title>New pricing accepted</title>
{{ template "body-start" "standard" }}
{{ template "preheader" "Thank you for confirming your acceptance of the new Storj pricing changes." }}
{{ template "header" . }}
{{ template "content-start" "bottom-space" }}
{{ template "heading" "New pricing accepted" }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-bottom:15px">
    <p style="{{ template "style-copy" }}">
      Thank you for confirming your acceptance of the new Storj pricing changes effective July 1, 2026.
    </p>
  </td>
</tr>
<tr>
  <td align="left" style="padding:0;Margin:0;padding-bottom:20px">
    <p style="{{ template "style-copy" }}">
      Remember to sign in to your {{ .BrandName }} account on or after July 1, 2026 to obtain your two complimentary licenses of Object Mount.
    </p>
  </td>
</tr>
{{ template "button-row" (dict "Text" "Log in" "URL" .Data.LoginURL "PrimaryColor" .PrimaryColor) }}
{{ template "content-end" }}
{{ template "footer-start" }}
{{ template "footer" . }}
