{{ template "head" . }}
<title>You were invited to join {{ .BrandName }}</title>
{{ template "body-start" "standard" }}
{{ template "preheader" "Use the registration link inside to set up your new account." }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" (printf "You were invited to create an account on %s" .BrandName) }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-top:5px;padding-bottom:10px">
    <p style="{{ template "style-copy" }}">
      Your storage is ready, just create your account to get started.
    </p>
  </td>
</tr>
{{ template "button-row" (dict "Text" "Create My Account" "URL" .Data.SignUpLink "PrimaryColor" .PrimaryColor) }}
{{ template "content-end" }}
{{ template "footer-start" }}
{{ template "footer" . }}
