{{ template "head" . }}
<title>{{ .BrandName }} - Your storage node is no longer suspended for downtime</title>
{{ template "body-start" "standard" }}
{{ template "preheader" "Your storage node's online score has recovered. Suspension has been lifted." }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" "Your node is no longer suspended for downtime" }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px">
    <p style="{{ template "style-copy" }}">
      The online score for the storage node(s) below has recovered on {{ .Data.Satellite }}.
    </p>
  </td>
</tr>
{{ template "node-list" .Data }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px">
    <p style="{{ template "style-copy" }}">
      Suspension has been lifted and your node will start receiving new data again.
    </p>
  </td>
</tr>
{{ if .DocsURL }}{{ template "button-row" (dict "Text" "Node Operator Docs" "URL" .DocsURL "PrimaryColor" .PrimaryColor) }}{{ end }}
{{ template "content-end" }}
{{ template "footer-start" }}
{{ template "footer" . }}
