{{ template "head" . }}
<title>Your account has been suspended</title>
{{ template "body-start" "standard" }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" "Account Suspension Notification" }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-bottom:10px;padding-top:10px">
    <p style="{{ template "style-copy" }}">
      {{ if le .Data.Days 0 }} Your {{ .BrandName }} account still has no response on file, so your account and all of its data are now subject to deletion. {{ else }} Because we have not received your response to a recent account change, your {{ .BrandName }} account has been suspended. Unless you take action, your account and all of its data will be subject to deletion in {{ .Data.Days }} days. {{ end }}
    </p>
    <p style="{{ template "style-copy" }}">
      <br>Please <a target="_blank" href="{{ .Data.SignInLink }}" rel="noopener noreferrer" style="{{ template "style-link" }}">login</a> and confirm your choice; we will then restore your activity. For help, please file a <a target="_blank" href="{{ .SupportURL }}" rel="noopener noreferrer" style="{{ template "style-link" }}">support ticket</a>.
    </p>
  </td>
</tr>
{{ template "button-row" (dict "Text" "Review Your Account" "URL" .Data.SignInLink "PrimaryColor" .PrimaryColor) }}
{{ template "content-end" }}
{{ template "footer-start" }}
{{ template "footer" . }}
