{{ template "head" . }}
<title>Your {{ .BrandName }} password has been updated</title>
{{ template "body-start" "standard" }}
{{ template "preheader" "Your password has been updated. If you did not make this change, contact support." }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" (printf "Your %s password has been updated" .BrandName) }}
<tr>
  <td align="left" class="email-copy" style="padding:0;Margin:0;padding-top:5px;padding-bottom:10px">
    <p class="mobile-text-16" style="{{ template "style-copy" }}">
      Your {{ .BrandName }} password has been updated. If this wasn't you, <a target="_blank" href="{{ .Data.ResetPasswordLink }}" rel="noopener noreferrer" style="{{ template "style-link" }}">reset your password</a> and consider enabling multi-factor authentication on your account.
    </p>
  </td>
</tr>
{{ template "content-end" }}
{{ template "footer-start" "standard" }}
{{ template "footer" . }}
