{{ template "head" . }}
<title>Your {{ .BrandName }} project download limit has been reached</title>
{{ template "body-start" "standard" }}
{{ template "preheader" "You have reached your egress limit. Upgrade your plan to continue downloading." }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" "Download Limit Reached" }}
{{ if .Data.IsFree }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-bottom:10px;padding-top:10px">
    <p style="{{ template "style-copy" }}">
      You have reached your free trial download limit. Please upgrade your account to continue using Storj.
    </p>
  </td>
</tr>
{{ template "button-row" (dict "Text" "Upgrade Your Account" "URL" (printf "%saccount/billing?showUpgrade=1" .ExternalAddress) "PrimaryColor" .PrimaryColor) }}
{{ else if .Data.IsNFR }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-bottom:10px;padding-top:10px">
    <p style="{{ template "style-copy" }}">
      You've used 100% of your download limit on the project <strong>{{ .Data.ProjectName }}</strong>.
    </p>
  </td>
</tr>
{{ else }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-bottom:10px;padding-top:10px">
    <p style="{{ template "style-copy" }}">
      You've used 100% of your download limit on the project <strong>{{ .Data.ProjectName }}</strong>. Please increase or remove your download limit to resume downloads.
    </p>
  </td>
</tr>
{{ template "button-row" (dict "Text" "Increase Limits" "URL" (printf "%sprojects" .ExternalAddress) "PrimaryColor" .PrimaryColor) }}
{{ end }}
{{ template "content-end" }}
{{ template "footer-start" }}
{{ template "footer" . }}
