{{ template "head" . }}
<title>Trial Expiration Reminder</title>
{{ template "body-start" "standard" }}
{{ template "preheader" "Your free trial is ending soon. Upgrade to keep your data and access." }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" "Trial Expiration Reminder" }}
<tr>
  <td align="left" class="email-copy" style="padding:0;Margin:0;padding-top:5px;padding-bottom:10px">
    <p class="mobile-text-16" style="{{ template "style-copy" }}">
      We hope you've enjoyed your {{ .BrandName }} experience and have found value in our secure, S3 compatible object storage solution. As your trial is coming to an end, we wanted to remind you that you have three days left to take advantage of {{ .BrandName }}.
    </p>
    <p class="mobile-text-16" style="{{ template "style-copy" }}">
      <br>Continue uninterrupted. <a href="{{ .Data.SignInLink }}" target="_blank" style="{{ template "style-link" }}">Upgrade now</a> to continue enjoying seamless access. To upgrade, simply log in and you will be prompted to add a payment method.
    </p>
    <p class="mobile-text-16" style="{{ template "style-copy" }}">
      <br>
    </p>
    <p class="mobile-text-16" style="{{ template "style-copy" }}">
    </p>
    <p class="mobile-text-16" style="{{ template "style-copy" }}">
      <br>Need help figuring out if {{ .BrandName }} is a fit for your business? <a target="_blank" href="{{ .Data.ScheduleMeetingLink }}" rel="noopener noreferrer" style="{{ template "style-link" }}">Schedule some time with a {{ .BrandName }} solutions specialist</a>.<br><br>Thank you for choosing {{ .BrandName }}.
    </p>
    <p class="mobile-text-16" style="{{ template "style-copy" }}">
      The {{ .BrandName }} Team
    </p>
  </td>
</tr>
{{ template "button-row" (dict "Text" "Upgrade Now →" "URL" .Data.SignInLink "PrimaryColor" .PrimaryColor) }}
{{ template "content-end" }}
{{ template "footer-start" "standard" }}
{{ template "footer" . }}
