{{ template "head" . }}
<title>Trial Expired</title>
{{ template "body-start" "standard" }}
{{ template "preheader" "Your free trial has ended. Upgrade now to restore access to your data." }}
{{ template "header" . }}
{{ template "content-start" "bottom-space" }}
{{ template "heading" "Trial Expired" }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-bottom:10px">
    <p style="{{ template "style-copy" }}">
      Your free trial period has now ended, access to your account and files will be limited until you upgrade. Note: You will continue to maintain access to projects that you are a member of.<br><br><strong>Maintain continuity of your service.</strong>&nbsp;
    </p>
    <p style="{{ template "style-copy" }}">
      To continue using {{ .BrandName }}'s secure, S3 compatible object storage, we invite you to upgrade your account. Adding a payment method today will reactivate your account.
    </p>
    <p style="{{ template "style-copy" }}">
      <br><strong>Upgrading is simple:</strong>
    </p>
    <p style="{{ template "style-copy" }}">
      1. Click the link below to login to your {{ .BrandName }} account.
    </p>
    <p style="{{ template "style-copy" }}">
      2. You will be prompted to add a payment method, unlocking access and upgrading your account to Pro
    </p>
    <p style="{{ template "style-copy" }}">
      <br>
    </p>
    <p style="{{ template "style-copy" }}">
      <strong>Still need help figuring out if {{ .BrandName }} is a fit for your business?</strong>
    </p>
    <p style="{{ template "style-copy" }}">
      <a href="{{ .Data.ScheduleMeetingLink }}" target="_blank" rel="noopener noreferrer" style="{{ template "style-link" }}">Schedule some time with a {{ .BrandName }} solutions specialist</a> and receive a personalized evaluation<br><br>Thank you for trying {{ .BrandName }}.
    </p>
    <p style="{{ template "style-copy" }}">
      The {{ .BrandName }} Team
    </p>
  </td>
</tr>
{{ template "button-row" (dict "Text" "Upgrade Now →" "URL" .Data.SignInLink "PrimaryColor" .PrimaryColor) }}
{{ template "content-end" }}
{{ template "footer-start" }}
{{ template "footer" . }}
