{{ template "head" . }}
<title>Welcome to {{ .BrandName }} - Confirm your email</title>
{{ template "body-start" "standard" }}
{{ template "preheader" "Confirm your email address to activate your account." }}
{{ template "header" . }}
{{ template "content-start" "standard" }}
{{ template "heading" "Welcome, please confirm your email" }}
<tr>
  <td align="left" style="padding:0;Margin:0;padding-bottom:10px">
    <p style="{{ template "style-copy" }}">
      You created an account on {{ .BrandName }}. Confirm your email address below to get started on the distributed cloud. Do not share this link with anyone.
    </p>
  </td>
</tr>
{{ template "button-row" (dict "Text" "Confirm Your Email →" "URL" .Data.ActivationLink "PrimaryColor" .PrimaryColor "Simulate" true) }}
{{ template "content-end" }}
{{ template "footer-start" }}
<tr>
  <td align="center" style="Margin:0;padding-bottom:10px;padding-right:40px;padding-left:40px;padding-top:10px">
    <p style="{{ template "style-note" }}">
      If you didn't sign up for a new account at {{ .BrandName }}, please disregard this email or contact our <a href="{{ .SupportURL }}" target="_blank" rel="noopener noreferrer" style="{{ template "style-note-link" }}">customer service department</a>.
    </p>
  </td>
</tr>
{{ template "footer" . }}
