name: go-tooling

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  standard-lint:
    runs-on: ubuntu-latest
    steps:
        
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
        
    - name: go-lint
      uses: pipeline-components/go-lint@v0.11.0
